META
Makefile
_build/
_build_dot
_build_lablgtk
autom4te.cache/
config.log
config.status
configure
mlpost.mli
myocamlbuild.ml
ocamlbuild.Makefile
simple.Makefile
version.ml
doc
test/*.mps
test/*.mp
test/*.ps
test/*.mpx
test/*.tex
test/*.log
test/*.aux
test/*.pdf
test/*.dvi
test/*.[0-9]*
test/othergraphs/*.[0-9]*
test/othergraphs/*.mpx
test/othergraphs/*.mps
test/othergraphs/*.log
test/manual/*.[0-9]*
test/manual/*.mpx
test/manual/*.mps
test/manual/*.log
*.native
